@media (prefers-color-scheme: dark) {
  html {
    background-color: #000000;
    background-image: radial-gradient(#1f1f1f 0.9px, #000000 0.9px);
    background-size: 18px 18px;
  }
  .navBar {
    border-radius: 3px;
    background-color: ghostwhite;
    opacity: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  a{
    color: black;
  }
  a:hover ,.flex-item:nth-child(1):hover, .flex-item:nth-child(2):hover {
    background-color: black;
    color: ghostwhite;
    cursor: pointer;
  }
  .custom-file-upload {
    background-color: #1f1f1f;
    color: #fff;
  }
  .custom-file-upload:hover {
    background-color: ghostwhite;
    color: black;
    opacity: 50%;
  }
}
@media (prefers-color-scheme: light) {
  html {
    background-color: #f8f8ff;
    background-image: radial-gradient(
      #1f1f1f 0.8500000000000001px,
      #f8f8ff 0.8500000000000001px
    );
    background-size: 17px 17px;
    color: #000000;
  }

  .navBar {
    border-radius: 3px;
    background-color: #1f1f1f;
    opacity: 90%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  a{
    color: ghostwhite;
  }
  a:hover, .navItem:hover, .flex-item:nth-child(1):hover, .flex-item:nth-child(2):hover {
    background-color: ghostwhite;
    color: #000000;
    cursor: pointer;
  }
  .custom-file-upload {
    background-color: #1f1f1f;
    color: #fff;
    opacity: 80%;
  }
  .custom-file-upload:hover {
    background-color: black;
    color: ghostwhite;
    opacity: 50%;
  }
}

/* Mediaquery for mobile */
@media (min-width: 480px) {
  .flex-item:nth-child(1) {
      font-size: 50px;
      padding-inline: 10px;
    }
    .flex-item:nth-child(2) {
      font-size: 40px;
      padding-inline: 10px;
      
    }
    .flex-item:nth-child(1):hover {
      padding-inline: 10px;
    }
    .flex-item:nth-child(2):hover {
      padding-inline: 10px;
      padding-block: 12px;
    }
    #loadingAnimation{
      margin: auto auto;
      position: absolute;
      top: 10;
      left: 0;
      right: 0;
    }
    
}
/* Mediaquery for PC */
@media (min-width: 1281px) {
    .flex-item:nth-child(1) {
      font-size: 40px;
      padding-inline: 10px;
    }
    .flex-item:nth-child(2) {
      font-size: 20px;
      padding-inline: 10px;
    }
    .flex-item:nth-child(1):hover {
      padding-inline: 10px;
    }
    .flex-item:nth-child(2):hover {
      padding-inline: 10px;
      padding-block: 12px;
    }
    #loadingAnimation{
      margin: auto auto;
      position: absolute;
      top: 10;
      left: 0;
      right: 0;
    }
}

a{
  text-decoration: none;
}

@font-face {
  font-family: "Inter";
  src: url("https://rsms.me/inter/inter-ui-upright.var.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 900;
  font-stretch: 25% 151%;
}

thead{
  text-align-last: center;
}

.downloadDiv{
  display:inline;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
}

article {
  text-align-last: center;
}
.file-upload {
  display: none;
}

.custom-file-upload {
  /* Set background with vertical gradient from blue to purple */
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-family: Lucida Console bold;
  font-weight: bold;
  font-size: 20px;
}

.compararItem {
  text-align-last: center;
}

#result{
  border-radius: 4px;
  background-color: #1f1f1f;
  border-color: ghostwhite;
  border: outset;
  color: ghostwhite;
  opacity: 90%;
}

@keyframes ldio-l8s7xgy80tp {
  0% { opacity: 1 }
  50% { opacity: .5 }
  100% { opacity: 1 }
}
.ldio-l8s7xgy80tp div {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 60px;
  animation: ldio-l8s7xgy80tp 1s cubic-bezier(0.5,0,0.5,1) infinite;
}.ldio-l8s7xgy80tp div:nth-child(1) {
  transform: translate(30px,0);
  background: #141414;
  animation-delay: -0.6s;
}.ldio-l8s7xgy80tp div:nth-child(2) {
  transform: translate(70px,0);
  background: #3f3f3f;
  animation-delay: -0.4s;
}.ldio-l8s7xgy80tp div:nth-child(3) {
  transform: translate(110px,0);
  background: #818181;
  animation-delay: -0.2s;
}.ldio-l8s7xgy80tp div:nth-child(4) {
  transform: translate(150px,0);
  background: #acadad;
  animation-delay: -1s;
}
.loadingio-spinner-bars-2bsd7697baf {
  width: 188px;
  height: 81px;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: absolute;
  margin: -1em -9.5em;
}
.ldio-l8s7xgy80tp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-l8s7xgy80tp div { box-sizing: content-box; }

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item:nth-child(1) {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flex-item:nth-child(2) {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
  .flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
  }
}