@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: ghostwhite;
    color: #000;
  }
}

#navBar {
  /* Translucid navBar with horizontal gradient blue and purple. */
  background: linear-gradient(to right, #196bca, #6433e0);
  background-color: #196bca;
  color: #fff;
  font-family: Lucida Console;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}
#navBar:hover {
  background: linear-gradient(to right, #5482d0, #7d5ee3);
  background-color: #5482d0;
  cursor: pointer;
}
#githubLogo {
  width: 40px;
  height: 40px;
  margin: 0px 0px -4px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid #000;
  border-radius: 0px;
  display: inline-block;
}
#afGithub {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  vertical-align: super;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
}

article {
  text-align-last: center;
}
.file-upload {
  display: none;
}
.custom-file-upload {
  /* Set background with vertical gradient from blue to purple */
  background: linear-gradient(to right, #196bca, #6433e0);
  background-color: #196bca;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-family: Lucida Console bold;
  font-weight: bold;
}
.compararItem {
  text-align-last: center;
}
