@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: ghostwhite;
    color: #000;
  }
}

@font-face {
  font-family: "Inter";
  src: url("https://rsms.me/inter/inter-ui-upright.var.woff2") format("woff2-variations");
  font-display: swap;
  font-weight: 100 900;
  font-stretch: 25% 151%;
}

thead{
  text-align-last: center;
}

#navBar {
  /* Translucid navBar with horizontal gradient blue and purple. */
  background: linear-gradient(to right, #196bca, #6433e0);
  background-color: #196bca;
  color: #fff;
  font-family: Lucida Console;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  padding: 14px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
}
#navBar:hover {
  background: linear-gradient(to right, #5482d0, #7d5ee3);
  background-color: #5482d0;
  cursor: pointer;
}
#githubLogo {
  width: 40px;
  height: 40px;
  margin: 0px 0px -4px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px solid #000;
  border-radius: 0px;
  display: inline-block;
}
#afGithub {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  vertical-align: super;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
}

article {
  text-align-last: center;
}
.file-upload {
  display: none;
}

.custom-file-upload {
  /* Set background with vertical gradient from blue to purple */
  background: linear-gradient(to right, #196bca, #6433e0);
  background-color: #196bca;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-family: Lucida Console bold;
  font-weight: bold;
}
.custom-file-upload:hover {
  background: linear-gradient(to right, #5482d0, #7d5ee3);
  background-color: #5482d0;
  cursor: pointer;
}
.compararItem {
  text-align-last: center;
}
#result{
  border-radius: 4px;
  background-color: #1c1c1c;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0b1de3;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0032f3 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes ldio-l8s7xgy80tp {
  0% { opacity: 1 }
  50% { opacity: .5 }
  100% { opacity: 1 }
}
.ldio-l8s7xgy80tp div {
  position: absolute;
  width: 20px;
  height: 80px;
  top: 60px;
  animation: ldio-l8s7xgy80tp 1s cubic-bezier(0.5,0,0.5,1) infinite;
}.ldio-l8s7xgy80tp div:nth-child(1) {
  transform: translate(30px,0);
  background: #0051a2;
  animation-delay: -0.6s;
}.ldio-l8s7xgy80tp div:nth-child(2) {
  transform: translate(70px,0);
  background: #1b75be;
  animation-delay: -0.4s;
}.ldio-l8s7xgy80tp div:nth-child(3) {
  transform: translate(110px,0);
  background: #408ee0;
  animation-delay: -0.2s;
}.ldio-l8s7xgy80tp div:nth-child(4) {
  transform: translate(150px,0);
  background: #89bff8;
  animation-delay: -1s;
}
.loadingio-spinner-bars-2bsd7697baf {
  width: 188px;
  height: 81px;
  display: inline-block;
  overflow: hidden;
  background: none;
  position: absolute;
  margin: -1em -9.5em;
}
.ldio-l8s7xgy80tp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-l8s7xgy80tp div { box-sizing: content-box; }
/* generated by https://loading.io/ */